<header class="header-container">
    <div class="wrap">
        <img src="dist/img/marsbq_logo.png" alt="MarsBQ">
        <p>Join Us for the first intergalactic BBQ</p>

        <a class="btn" href="#">Register to Attend</a>
    </div>
</header>